/**
  *  Toolbar global style
  * ---------------
  */

#qdb-bar-anchor {
    left: 2px;
    position: fixed;
    top: 5px;
    z-index: 10001;
    cursor: pointer;
}

#qdb-bar[data-theme="dark"] {
    --qdb-tab-bg: #4f4f4f;
    --qdb-tab-ft: #FFFFFF;
    --qdb-active: #7c7673;
    --qdb-button: #4c6474;
    --qdb-bck: #343434;
    --qdb-table-th: #FFFFFF;
    --qdb-table-tr-hover: #7c7673;
    --qdb-table-tr-stripped: #4f4f4f;
    --qdb-ft: #FFFFFF;
    --qdb-tb-border: #CCCCCC;
    --qdb-href: #1299DA;
    --qdb-href-hover: #CCCCCC;
}

#qdb-bar[data-theme="kawaii"] {
    --qdb-tab-bg: #ffabde;
    --qdb-tab-ft: #000000;
    --qdb-active: #aafff8;
    --qdb-button: #A9CAF4;
    --qdb-bck: #ffffb0;
    --qdb-table-th: #dbafff;
    --qdb-table-tr-hover: #aafff8;
    --qdb-table-tr-stripped: #f5f5f5;
    --qdb-ft: #000000;
    --qdb-tb-border: #CCCCCC;
    --qdb-href: #ffabde;
    --qdb-href-hover: #000000;

}

#qdb-bar {
    --qdb-tab-bg: #004276;
    --qdb-tab-ft: #FFFFFF;
    --qdb-active: #eb5202;
    --qdb-button: #006bb4;
    --qdb-bck: #FFFFFF;
    --qdb-table-th: #004276;
    --qdb-table-tr-hover: #e5f7fe;
    --qdb-table-tr-stripped: #f5f5f5;
    --qdb-ft: #000000;
    --qdb-tb-border: #CCCCCC;
    --qdb-href: #004276;
    --qdb-href-hover: #eb5202;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    background: var(--qdb-bck) repeat scroll 0 0;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 12px;
    color:var(--qdb-ft);

    input {
        width: auto;
    }

    span[data-ide-file]:not([data-ide-file=""]){
        color: var(--qdb-href);
        text-decoration-line: underline;
        text-decoration-style: dashed;
        cursor: zoom-in;
    }

    span[data-ide-file]:not([data-ide-file=""]):hover{
        color: var(--qdb-href-hover);
    }


    /**
      * Button
      */
    button.qdb-action {
        background: none repeat scroll 0 0 var(--qdb-button);
        border: 1px solid var(--qdb-tab-bg);
        box-sizing: border-box;
        color: var(--qdb-tab-ft);
        cursor: pointer;
        display: inline-block;
        padding: 3px 5px;
        font-weight: 500;
        vertical-align: middle;
    }

    button.qdb-action:hover {
        background: none repeat scroll 0 0 var(--qdb-bck);
        color: var(--qdb-button);
    }

    button.qdb-action span {
        text-align: center;
        color: var(--qdb-tab-ft);
        cursor: pointer;
    }

    button.qdb-action:not(.primary) {
        box-shadow: none;
    }

    /**
      * Tabs
      * ---------------
      */

    div.qdb-container {
        width: 95vw;
    }


    div.qdb-panel div.qdb-container {
        width: 90%;
    }

    div.qdb-container ul {
        margin: 0px;
    }

    div.qdb-ui-tabs > div.qdb-panel, div.qdb-ui-subtabs > div.qdb-panel {
        background: none repeat scroll 0 0 var(--qdb-bck)
    }

    div.qdb-ui-tabs > div.qdb-panel {
        max-height: 90vh;
        overflow: auto;
        /*height: 100%;*/
    }

    div.qdb-ui-tabs > ul {
        padding-left: 45px;
        padding-right: 15px;
        margin-bottom: -1px;
        white-space: nowrap;
    }

    div.qdb-ui-tabs > ul > li, div.qdb-ui-subtabs > ul > li {
        position: relative;
        z-index: 98;
        display: inline-block;
        margin-bottom: 0px;
    }

    li .qdb-tab-badge {
        border: 1px solid var(--qdb-bck);
        border-radius: 4px;
        margin-left: 4px;
        padding: 1px 2px;
    }

    li img.qdb-img {
        padding: 1px;
        vertical-align: bottom;
        display: inline;
    }

    div.qdb-ui-tabs > ul > li {
        margin-left: -2px;
        margin-right: -2px;
    }

    div.qdb-ui-tabs li.ui-tabs-active, div.qdb-ui-subtabs li.ui-tabs-active {
        background-color: var(--qdb-active);
        z-index: 100;
    }

    li.ui-tabs-active .qdb-tab-badge {
        background: var(--qdb-bck) none repeat scroll 0 0;
        border: 1px solid var(--qdb-tab-bg);
        color: var(--qdb-tab-bg);
    }

    div.qdb-ui-tabs > ul a, div.qdb-ui-subtabs > ul a {
        text-decoration: none;
        color: var(--qdb-tab-ft);
        box-shadow: none;
        padding: 7px 10px;
        display: block;
    }

    div.qdb-ui-tabs .ui-state-hover > a, div.qdb-ui-subtabs .ui-state-hover > a {
        box-shadow: none;
    }

    div.qdb-ui-tabs > div, div.qdb-ui-subtabs > div {
        position: relative;
        border: 1px solid var(--qdb-tab-bg);
        z-index: 99;
    }

    div.qdb-ui-tabs > div {
        padding: 10px;
        box-shadow: -1px 10px 15px 0 rgba(0, 0, 0, 0.7);
    }

    div.qdb-ui-subtabs > div {
        padding: 10px;
        margin-top: -1px;
    }

    ul.ui-tabs-nav {
        background-color: var(--qdb-tab-bg);
    }

    summary {
        display: list-item;
    }

    details.haschild > summary {
        font-weight: 600;
    }

    details div {
        border: 1px solid var(--qdb-tb-border);
        color: var(--qdb-ft);
        background: var(--qdb-table-tr-stripped);
    }

    /**
      * Loader
      * ---------------
      */

    .qdb-loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid var(--qdb-tab-bg);
        border-bottom: 8px solid var(--qdb-tab-bg);
        width: 32px;
        height: 32px;
        -webkit-animation: qdb-spin 3s linear infinite;
        animation: qdb-spin 2s linear infinite;
    }

    .qdb-loader.big {
        width: 64px;
        height: 64px;
    }

    /**
      * Table
      * ---------------
      */

    table.qdb_table {
        border-collapse: collapse;
        border: 1px solid var(--qdb-tb-border);
        width: 100%;
    }

    table.qdb_table tr {
        border: 1px solid var(--qdb-tb-border);
    }

    table.qdb_table.grade tr {
        border-right: 5px solid var(--qdb-tb-border);
    }

    table.qdb_table.grade tr.good {

        border-right: 5px solid var(--qdb-tb-border);
    }

    table.qdb_table.grade tr.medium {
        border-right: 5px solid yellow;
    }

    table.qdb_table.grade tr.bad {
        border-right: 5px solid red;
    }

    table.qdb_table tr td, table.qdb_table tr th {
        padding: 5px;
        /*word-break: break-all;*/
    }

    table.qdb_table tr td, table.qdb_table tr th {
        padding: 5px;
        /*word-break: break-all;*/
    }

    table.qdb_table tr th {
        color: var(--qdb-table-th);
        white-space: nowrap;
        text-align: left;
    }

    table.qdb_table tbody tr.striped {
        background-color: var(--qdb-table-tr-stripped);
    }

    table.qdb_table tbody tr:hover {
        background-color: var(--qdb-table-tr-hover);
    }

    /**
      * Table 2 column
      * ---------------
      */

    table.qdb_table_2col {
        width: 100%;
    }

    table.qdb_table_2col tr td, table.qdb_table_2col tr th {
        padding: 2px;
        text-align: left;
    }

    table.qdb_table_2col tr th {
        color: var(--qdb-table-th);
        white-space: nowrap;
        width: 150px
    }

    /**
      * Sortable
      */

    table.sortable th.header.headerSortUp:after {
        content: url(../images/asc.gif);
    }

    table.sortable th.header.headerSortDown:after {
        content: url(../images/desc.gif);
    }

    table.sortable th.header:after {
        content: url(../images/bg.gif);
    }

    table.sortable th.header {
        cursor: pointer;
    }

    /**
     * SQL
      * ---------------
     */

    span.sqlmain, span.sqlword, span.sqlother {
        font-weight: bold;
    }

    span.sqlmain {
        color: var(--qdb-ft);
    }

    span.sqlword {
        color: #cc00c0;
    }

    span.sqlother {
        color: #FF5200;
    }

    td.sqlinfo {
        color: #666666;
        display: block;
        font-size: 10px;
        width: 30px;
    }

    pre {
        font-family: "Courier New", monospace;
        border: 1px solid;
        padding: 5px;
        /*word-break: break-all;*/
    }

    .qdb-warning {
        color: #FF5200;
    }
}

/* To animate loader, cannot be in #qdb-bar :-( ... do not use qdb- prefixes :-) */
@-webkit-keyframes qdb-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes qdb-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
