<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Event\ManagerInterface">
        <plugin name="qdb-trace-event"
                type="ADM\QuickDevBar\Plugin\Framework\Event\Manager" sortOrder="1"/>
    </type>

    <type name="Magento\Framework\Event\InvokerInterface">
        <plugin name="qdb-trace-observer"
                type="ADM\QuickDevBar\Plugin\Framework\Event\Invoker" sortOrder="1"/>
    </type>

    \Magento\Framework\Cache\Frontend\Decorator\TagScope
<!--
    <type name="Magento\Framework\App\CacheInterface">
-->
    <type name="Magento\Framework\App\CacheInterface">
        <plugin name="qdb-trace-cache"
                type="ADM\QuickDevBar\Plugin\Framework\App\Cache" sortOrder="1" />
    </type>

    <!-- Plugin on Magento\Framework\App\Http should be better but to early to access config-->
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="qdb-dumper"
                type="ADM\QuickDevBar\Plugin\Framework\App\FrontController" sortOrder="1" />
    </type>

    <type name="Magento\PageCache\Model\Cache\Type">
        <plugin name="qdb-trace-cache"
                type="ADM\QuickDevBar\Plugin\PageCache\FrontController\BuiltinPlugin" sortOrder="1" />
    </type>


    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Client\Elasticsearch">
        <plugin name="qdb-trace-es"
                type="ADM\QuickDevBar\Plugin\Elasticsearch\Client" sortOrder="1" />
    </type>

    <type name="ADM\QuickDevBar\Helper\Register">
        <arguments>
            <argument name="services" xsi:type="array">
                <item name="plugin_list" xsi:type="object" >ADM\QuickDevBar\Service\Plugin</item>
                <item name="sql_profiler" xsi:type="object" >ADM\QuickDevBar\Service\Sql</item>
                <item name="events" xsi:type="object" >ADM\QuickDevBar\Service\Event\Manager</item>
                <item name="collections" xsi:type="object" >ADM\QuickDevBar\Service\Collection</item>
                <item name="models" xsi:type="object" >ADM\QuickDevBar\Service\Model</item>
                <item name="blocks" xsi:type="object" >ADM\QuickDevBar\Service\Block</item>
                <item name="request_data" xsi:type="object" >ADM\QuickDevBar\Service\Request</item>
                <item name="observers" xsi:type="object" >ADM\QuickDevBar\Service\Observer</item>
                <item name="layout_handles" xsi:type="object" >ADM\QuickDevBar\Service\Layout\Handle</item>
                <item name="layout_tree_blocks_hierarchy" xsi:type="object" >ADM\QuickDevBar\Service\Layout\Hierarchy</item>
                <item name="object_manager_config" xsi:type="object" >ADM\QuickDevBar\Service\Config</item>
                <item name="module_list" xsi:type="object" >ADM\QuickDevBar\Service\Module</item>
                <item name="dumps" xsi:type="object" >ADM\QuickDevBar\Service\Dumper</item>
                <item name="cache_events" xsi:type="object" >ADM\QuickDevBar\Service\App\Cache</item>
                <item name="es_events" xsi:type="object" >ADM\QuickDevBar\Service\Elasticsearch</item>
            </argument>
        </arguments>
    </type>

    <type name="ADM\QuickDevBar\Service\Event\Manager">
        <arguments>
            <argument name="services" xsi:type="array">
                <item name="core_collection_abstract_load_before" xsi:type="object" >ADM\QuickDevBar\Service\Collection</item>
                <item name="model_load_before" xsi:type="object" >ADM\QuickDevBar\Service\Model</item>
                <item name="core_layout_block_create_after" xsi:type="object" >ADM\QuickDevBar\Service\Block</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="ADM\QuickDevBar\Service\Collection" type="ADM\QuickDevBar\Service\Event\Instance">
        <arguments>
            <argument name="classType" xsi:type="string">collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="ADM\QuickDevBar\Service\Model" type="ADM\QuickDevBar\Service\Event\Instance">
        <arguments>
            <argument name="classType" xsi:type="string">object</argument>
        </arguments>
    </virtualType>
    <virtualType name="ADM\QuickDevBar\Service\Block" type="ADM\QuickDevBar\Service\Event\Instance">
        <arguments>
            <argument name="classType" xsi:type="string">block</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="enableDebugToolbar" xsi:type="object">ADM\QuickDevBar\Console\Command\EnableToolBar</item>
                <item name="disableDebugToolbar" xsi:type="object">ADM\QuickDevBar\Console\Command\DisableToolBar</item>
            </argument>
        </arguments>
    </type>

    <type name="\ADM\QuickDevBar\Helper\Data">
        <arguments>
            <argument name="ideList" xsi:type="array">
                <item name="PhpStorm" xsi:type="string" ><![CDATA[http://127.0.0.1:63342/api/file/%2$s:%3$d]]></item>
                <item name="Eclipse" xsi:type="string" ><![CDATA[http://127.0.0.1:34567/?command=org.eclipse.soc.ewi.examples.commands.openfile&path=%2$s&line=%3$d]]></item>
                <item name="VSCode" xsi:type="string" ><![CDATA[vscode://file/%1$s%2$s&line=%3$d]]></item>
            </argument>
        </arguments>
    </type>
</config>
