<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_generate_blocks_after">
        <observer name="qdb_layout_generate_blocks_after" instance="ADM\QuickDevBar\Observer\LayoutGenerateBlocksAfterObserver" />
    </event>



    <!--
    TODO: remplacer par un plugin afterSend

    <type name="Magento\Framework\App\Response\Http">
            <plugin name="qdb_response_http_page_cache" type="ADM\QuickDevBar\Plugin\App\Response\HttpPlugin"/>
        </type>
     -->
    <event name="controller_front_send_response_before">
        <observer name="qdb_controller_front_send_response_before" instance="ADM\QuickDevBar\Observer\ControllerFrontSendResponseBeforeObserver" />
    </event>

    <event name="layout_load_before">
        <observer name="qdb_custom_layout" instance="ADM\QuickDevBar\Observer\UpdateLayoutObserver" />
    </event>

</config>
