<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev" translate="label">
            <group id="quickdevbar" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Quick dev bar configuration</label>
                <field id="enable" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activate</label>
                    <source_model>ADM\QuickDevBar\Model\Config\Source\Activate</source_model>
                    <comment>"Yes with restriction" means that your web server is your localhost or your ip is in "Allowed ips" or your user-agent is matching "Allowed user-agent pattern"</comment>
                </field>
                <field id="is_enabled" translate="label" type="label" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is enabled for you?</label>
                    <frontend_model>ADM\QuickDevBar\Block\Adminhtml\System\Config\Form\Fieldset\IsEnabled</frontend_model>
                    <depends>
                        <field id="enable">2</field>
                    </depends>                    
                </field>
                <field id="allow_ips" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed IPs</label>
                    <comment>Comma separated list. If empty check only localhost IPs.</comment>
                    <backend_model>Magento\Developer\Model\Config\Backend\AllowedIps</backend_model>
                    <depends>
                        <field id="enable">2</field>
                    </depends>
                </field>
                <field id="toolbar_header" translate="label comment" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed user-agent pattern</label>
                    <comment>Pattern that will be check (with preg_match) in the user agent sent by your browser. You should use a user agent switcher extension to add a specific pattern.</comment>
                    <depends>
                        <field id="enable">2</field>
                    </depends>                    
                </field>
                <field id="appearance" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Appearance</label>
                    <source_model>ADM\QuickDevBar\Model\Config\Source\Appearance</source_model>
                    <depends>
                        <field id="enable" separator=",">1,2</field>
                    </depends>
                </field>
                <field id="area" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Area</label>
                    <source_model>ADM\QuickDevBar\Model\Config\Source\Area</source_model>
                    <depends>
                        <field id="enable" separator=",">1,2</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>    
</config>
