/**
  *  Toolbar global style
  * ---------------
  */

#qdb-bar {
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 1000;
    margin-left: 35px;
    /* background: none repeat scroll 0 0 #fff */
}

#qdb-bar  * {
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
  font-size: 12px;
}

#qdb-bar  input {
  width: auto;
}

#qdb-bar-anchor {
    position: absolute;
    top: 1px;
    z-index: 1000;
}

#qdb-bar-anchor img {
    padding-left: 5px;
}


/**
  * Tabs
  * ---------------
  */
div.qdb-container {
     width: 1200px;
}

div.qdb-panel  div.qdb-container {
     width: 1165px;
}

div.qdb-container ul {
    margin: 0px;
}

div.qdb-ui-tabs > div.qdb-panel, div.qdb-ui-subtabs > div.qdb-panel {
    background: none repeat scroll 0 0 #fff
}


div.qdb-ui-tabs > div.qdb-panel {
    max-height: 600px;
    overflow: auto;
}


div.qdb-ui-tabs, div.qdb-ui-subtabs {
    padding: 0 0 20px 0;
}
div.qdb-ui-tabs > ul, div.qdb-ui-subtabs > ul {
    padding-left: 5px;
}

div.qdb-ui-tabs > ul > li, div.qdb-ui-subtabs > ul > li {
    position: relative;
    z-index: 98;
    display:inline-block;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

div.qdb-ui-tabs > ul > li {
    margin-bottom: 3px;
    padding: 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
    box-shadow: none;
}


div.qdb-ui-subtabs > ul > li {
    margin: 0px;
}


div.qdb-ui-tabs li.ui-tabs-active, div.qdb-ui-subtabs li.ui-tabs-active {
    background-color: #fff;
    z-index: 100;
}

div.qdb-ui-subtabs li.ui-tabs-active {
    border-bottom: 1px solid #fff;
    
}

div.qdb-ui-tabs > ul a, div.qdb-ui-subtabs > ul a  {
    text-decoration: none;
    color: #004276;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: none;
}

div.qdb-ui-subtabs > ul a  {
    padding: 7px 10px;
    display: block;
}

div.qdb-ui-tabs .ui-state-hover > a, div.qdb-ui-subtabs .ui-state-hover > a {
    box-shadow: none;
}

div.qdb-ui-tabs .ui-tabs-active > a, div.qdb-ui-subtabs .ui-tabs-active > a {
    color: #eb5202;
    box-shadow: none;
}

div.qdb-ui-subtabs .ui-tabs-active > a {
    border-top: 2px solid #eb5202;
    padding-top: 5px;
}


div.qdb-ui-tabs > div, div.qdb-ui-subtabs > div {
    position: relative;
    border: 1px solid #CCC;
    z-index: 99;
    font-size: 1.1em;
}

div.qdb-ui-tabs > div {
    padding: 10px;
    box-shadow: -1px 10px 15px 0 rgba(0, 0, 0, 0.7);
}

div.qdb-ui-subtabs > div {
    padding: 10px;
    margin-top: -1px;
}



/**
  * Loader
  * ---------------
  */

.qdn-loading-mask p {
    color: #004276;
    text-align: center;
    font-weight:bold;
}


.qdn-loading-mask img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
  * Table
  * ---------------
  */

table.qdn_table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;  
}


table.qdn_table tr {
  border: 1px solid #ccc;
}

table.qdn_table tr td, table.qdn_table tr th {
  padding: 5px;    
}

table.qdn_table tr th {
  color: #004276;
  white-space: nowrap;
  text-align: left; 
}

table.qdn_table tbody tr.striped { 
    background-color: #f0f8ff;
}

/**
  * Table 2 column
  * ---------------
  */

table.qdn_table_2col {
  width: 100%;  
}

table.qdn_table_2col tr td, table.qdn_table_2col tr th {
    padding: 2px;    
    text-align: left;
}

table.qdn_table_2col tr td{
    max-width: 250px;
}

table.qdn_table_2col tr th{
    max-width: 50px;
    color: #004276;
}

/**
 * SQL
  * ---------------
 */
span.sqlmain, span.sqlword, span.sqlother {
  font-weight:bold;
}

span.sqlmain {
  color:#004276;
}

span.sqlword {
  color:#cc00c0;
}

span.sqlother {
  color:#FF5200;
}

span.sqlinfo {
    color: #666666;
    display: block;
    font-size: 10px;
}